<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="https://cdn.sportsshoes.com/product/V/VIB249/VIB249_1000_1.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Nike AirForce/210</h4>
                            <h5 class="card-text">₹4,500</h5>
                        </div>
                        <div>
                            <button class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">NIKE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="https://cdn.sportsshoes.com/product/V/VIB249/VIB249_1000_1.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Nike AirForce/210</h4>
                            <h5 class="card-text">₹4,500</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">NIKE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="https://cdn.sportsshoes.com/product/V/VIB249/VIB249_1000_1.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Nike AirForce/210</h4>
                            <h5 class="card-text">₹4,500</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">NIKE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="https://cdn.sportsshoes.com/product/V/VIB249/VIB249_1000_1.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Nike AirForce/210</h4>
                            <h5 class="card-text">₹4,500</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">NIKE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="https://cdn.sportsshoes.com/product/V/VIB249/VIB249_1000_1.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Nike AirForce/210</h4>
                            <h5 class="card-text">₹4,500</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">NIKE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="https://cdn.sportsshoes.com/product/V/VIB249/VIB249_1000_1.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Nike AirForce/210</h4>
                            <h5 class="card-text">₹4,500</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">NIKE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>